
.DS_Store

spell/

# Vim swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# Session files
Session.vim

# Temporary files created by vim
*.un~

# Swap
.sw[a-p]

# neovim

plugin/packer_compiled.lua

node_modules/
db_ui/connections.json
